body
{
    margin: 0;
    padding: 0;

}
main
{
background-color: pink;
display: flex;
justify-content: center;
}
form
{
background-image: linear-gradient(pink,rgb(116, 116, 236));
width: 20%;
padding: 0px 20px 40px 0px;
box-sizing: border-box;

}
img,input,button,a
{
    display: block;
}
img
{
    width: 60%;
    height: 100px;
    margin: auto;
}
input
{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
box-sizing: border-box;
border-radius: 5px;
border: 2px solid grey;
}
button
{
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgb(75, 37, 243);
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}
hr
{
    margin-top: 40px;

}
a
{
    text-align: center;
    margin-top: 10px;
    text-decoration:none;
}
h4{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color:white;
}
#or-cont
{
    position: relative;
    
}